Questions:  
1) 1.4.1
2) 10
3) total_bedrooms
4) 5
5) 259212
6) Yes
7) 5.6992

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.__version__

'1.4.1'

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-18 03:42:46--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1,4M) [text/plain]
Saving to: 'housing.csv'

     0K .......... .......... .......... .......... ..........  3% 1,93M 1s
    50K .......... .......... .......... .......... ..........  7% 2,38M 1s
   100K .......... .......... .......... .......... .......... 10% 6,06M 0s
   150K .......... .......... .......... .......... .......... 14% 2,40M 0s
   200K .......... .......... .......... .......... .......... 17% 2,30M 0s
   250K .......... .......... .......... .......... .......... 21% 2,39M 0s
   300K .......... .......... .......... .......... .......... 25% 2,72M 0s
   350K .......... .......... .......... .......... .......... 28% 2,40M 0s
   400K .......... .......... .......... .......... .......... 32% 6,49M 0s
   450K .......... .......... .......... .......... .......... 35% 2,31M 0s
   500K .......... .......... .......... .......... .......... 39% 2,18M 0s
   550K .......... .......... .......... .......... .......... 43% 3,43M 0s
   600K .......... .......... .......... .......... .......... 46% 2,31M 0s
   650K .......... .......... .......... .......... .......... 50% 3,81M 0s
   700K .......... .......... .......... .......... .......... 53% 2,22M 0s
   750K .......... .......... .......... .......... .......... 57% 2,30M 0s
   800K .......... .......... .......... .......... .......... 61% 3,37M 0s
   850K .......... .......... .......... .......... .......... 64% 3,12M 0s
   900K .......... .......... .......... .......... .......... 68% 2,20M 0s
   950K .......... .......... .......... .......... .......... 71% 2,06M 0s
  1000K .......... .......... .......... .......... .......... 75% 2,30M 0s
  1050K .......... .......... .......... .......... .......... 79% 4,10M 0s
  1100K .......... .......... .......... .......... .......... 82% 2,26M 0s
  1150K .......... .......... .......... .......... .......... 86% 2,25M 0s
  1200K .......... .......... .......... .......... .......... 89% 3,68M 0s
  1250K .......... .......... .......... .......... .......... 93% 2,21M 0s
  1300K .......... .......... .......... .......... .......... 97% 2,23M 0s
  1350K .......... .......... .......... ..........           100% 4,95M=0,5s

2023-09-18 03:42:47 (2,64 MB/s) - 'housing.csv' saved [1423529/1423529]

In [4]:
!ls

Homework_1.ipynb
housing.csv

In [6]:
df = pd.read_csv("housing.csv")

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [9]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [14]:
len(df.ocean_proximity.unique())

5

In [16]:
df[df.ocean_proximity == "NEAR BAY"].median_house_value.mean()

259212.31179039303

In [17]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [18]:
avg_tot_bed = df.total_bedrooms.mean()
avg_tot_bed

537.8705525375618

In [20]:
df.total_bedrooms = df.total_bedrooms.fillna(avg_tot_bed)

In [24]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [26]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [29]:
islands_df = df[df.ocean_proximity == "ISLAND"]
islands_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [30]:
islands_df[["housing_median_age", "total_rooms", "total_bedrooms"]]

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [63]:
X = np.array(islands_df[["housing_median_age", "total_rooms", "total_bedrooms"]])
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [76]:
XTX = np.dot(X.T, X)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [77]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [78]:
y = np.array([950, 1300, 800, 1000, 1300])
y

array([ 950, 1300,  800, 1000, 1300])

In [79]:
w_ = XTX_inv.dot(X.T)
w = w_.dot(y)
w[-1]

5.699229455065586