Ответы:
1) <1H OCEAN
2) total_bedrooms and households
3) 0.10
4) 0.84
5) total_rooms
6) 0

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv -O data-homework-week-3.csv

--2022-09-26 19:06:17--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Распознаётся raw.githubusercontent.com (raw.githubusercontent.com)… 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Подключение к raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 1423529 (1,4M) [text/plain]
Сохранение в: «data-homework-week-3.csv»

data-homework-week- 100%[===================>]   1,36M   860KB/s    за 1,6s

2022-09-26 19:06:19 (860 KB/s) - «data-homework-week-3.csv» сохранён [1423529/1423529]

In [310]:
df = pd.read_csv('data-homework-week-3.csv')

In [311]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [312]:
new_df = df.copy()

In [313]:
new_df['rooms_per_household'] = new_df['total_rooms'] / new_df['households']

In [314]:
new_df['bedrooms_per_room'] = new_df['total_bedrooms'] / new_df['total_rooms']

In [315]:
new_df['population_per_household'] = new_df['population'] / new_df['households']

In [316]:
new_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467

In [317]:
new_df.ocean_proximity.mode()

0    <1H OCEAN
Name: ocean_proximity, dtype: object

In [318]:
corr_matrix = new_df.corr()

In [319]:
corr_matrix.latitude[1] = 0

In [320]:
count = 0
for c in corr_matrix.columns:
    corr_matrix[c][count] = 0
    count += 1

In [321]:
corr_matrix

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household
longitude,0.000000,-0.924664,-0.108197,0.044568,0.069608,0.099773,0.055310,-0.015176,-0.045967,-0.027540,0.092657,0.002476
latitude,-0.924664,0.000000,0.011173,-0.036100,-0.066983,-0.108785,-0.071035,-0.079809,-0.144160,0.106389,-0.113815,0.002366
housing_median_age,-0.108197,0.011173,0.000000,-0.361262,-0.320451,-0.296244,-0.302916,-0.119034,0.105623,-0.153277,0.136089,0.013191
total_rooms,0.044568,-0.036100,-0.361262,0.000000,0.930380,0.857126,0.918484,0.198050,0.134153,0.133798,-0.187900,-0.024581
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,0.000000,0.877747,0.979728,-0.007723,0.049686,0.001538,0.084238,-0.028355
population,0.099773,-0.108785,-0.296244,0.857126,0.877747,0.000000,0.907222,0.004834,-0.024650,-0.072213,0.035319,0.069863
households,0.055310,-0.071035,-0.302916,0.918484,0.979728,0.907222,0.000000,0.013033,0.065843,-0.080598,0.065087,-0.027309
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007723,0.004834,0.013033,0.000000,0.688075,0.326895,-0.615661,0.018766
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049686,-0.024650,0.065843,0.688075,0.000000,0.151948,-0.255880,-0.023737
rooms_per_household,-0.027540,0.106389,-0.153277,0.133798,0.001538,-0.072213,-0.080598,0.326895,0.151948,0.000000,-0.416952,-0.004852
bedrooms_per_room,0.092657,-0.113815,0.136089,-0.187900,0.084238,0.035319,0.065087,-0.615661,-0.255880,-0.416952,0.000000,0.002938
population_per_household,0.002476,0.002366,0.013191,-0.024581,-0.028355,0.069863,-0.027309,0.018766,-0.023737,-0.004852,0.002938,0.000000

In [322]:
corr_matrix.max()

longitude                   0.099773
latitude                    0.106389
housing_median_age          0.136089
total_rooms                 0.930380
total_bedrooms              0.979728
population                  0.907222
households                  0.979728
median_income               0.688075
median_house_value          0.688075
rooms_per_household         0.326895
bedrooms_per_room           0.136089
population_per_household    0.069863
dtype: float64

In [323]:
corr_matrix.max().max()

0.9797282708045709

In [324]:
above_average = []

In [325]:
for record in new_df.median_house_value:
    if record > new_df.median_house_value.mean():
        above_average.append(1)
    else:
        above_average.append(0)

In [326]:
len(above_average)

20640

In [327]:
# new_df['median_house_value'] = above_average
new_df['median_house_value'] = np.log1p(new_df['median_house_value'])

In [328]:
new_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,13.022766,NEAR BAY,6.984127,0.146591,2.555556
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,12.789687,NEAR BAY,6.238137,0.155797,2.109842
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,12.771673,NEAR BAY,8.288136,0.129516,2.802260
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,12.740520,NEAR BAY,5.817352,0.184458,2.547945
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,12.743154,NEAR BAY,6.281853,0.172096,2.181467

In [329]:
from sklearn.model_selection import train_test_split

In [330]:
df_full_train, df_test = train_test_split(new_df, test_size=0.2, random_state=42)

In [331]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [332]:
len(df_train), len(df_val), len(df_test)

(12384, 4128, 4128)

In [333]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [334]:
y_train = df_train['median_house_value']
y_val = df_val['median_house_value']
y_test = df_test['median_house_value']

In [335]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [336]:
from sklearn.metrics import mutual_info_score

In [337]:
mutual_score = mutual_info_score(df_train.ocean_proximity, y_train)
round(mutual_score, 2)

/root/anaconda3/lib/python3.9/site-packages/sklearn/metrics/cluster/_supervised.py:65: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)

0.57

In [338]:
from sklearn.feature_extraction import DictVectorizer

In [339]:
train_dicts = df_train.to_dict(orient='records')

In [340]:
dv = DictVectorizer(sparse=False)

In [341]:
X_train = dv.fit_transform(train_dicts)

In [342]:
val_dicts = df_val.to_dict(orient='records')

In [343]:
X_val = dv.transform(val_dicts)

In [228]:
from sklearn.linear_model import LogisticRegression

In [345]:
from sklearn.linear_model import Ridge

In [229]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)

In [230]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [231]:
model.coef_[0].round(3)

array([ 0.127,  0.004,  0.037,  0.096,  0.081,  1.21 ,  0.448, -1.554,
        0.013,  0.291,  0.737, -0.002,  0.01 , -0.025,  0.002, -0.   ])

In [232]:
y_pred = model.predict_proba(X_val)[:, 1]
value_decision = (y_pred >= 0.5)

In [233]:
original_accuracy = (value_decision == y_val).mean().round(2)
original_accuracy

0.84

In [234]:
train_columns = df_train.columns
train_columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'rooms_per_household', 'bedrooms_per_room',
       'population_per_household'],
      dtype='object')

In [236]:
differns_dict = {}

for c in train_columns:
    df_train_without_c = df_train.copy()
    del df_train_without_c[c]
    
    df_val_without_c = df_val.copy()
    del df_val_without_c[c]
    
    train_dicts = df_train_without_c.to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    X_train = dv.fit_transform(train_dicts)
    val_dicts = df_val_without_c.to_dict(orient='records')
    X_val = dv.transform(val_dicts)
    
    model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    
    y_pred = model.predict_proba(X_val)[:, 1]
    value_decision = (y_pred >= 0.5)
    
    accuracy = (value_decision == y_val).mean()
    differns_dict[c] = original_accuracy - accuracy

differns_dict

{'longitude': 0.00642441860465115,
 'latitude': 0.005939922480620141,
 'housing_median_age': 0.010058139534883659,
 'total_rooms': 0.0032751937984495383,
 'total_bedrooms': 0.003517441860465098,
 'population': 0.013691860465116279,
 'households': 0.006908914728682158,
 'median_income': 0.05463178294573645,
 'ocean_proximity': 0.0204748062015504,
 'rooms_per_household': 0.004001937984496107,
 'bedrooms_per_room': 0.004970930232558124,
 'population_per_household': 0.003517441860465098}

In [245]:
min(differns_dict, key=differns_dict.get)

'total_rooms'

In [346]:
def RMSE(y, y_pred):
    se = (y_pred - y) ** 2
    mse = se.mean()
    return np.sqrt(mse)

In [356]:
alphas = [0, 0.01, 0.1, 1, 10]
rmses = {}

for a in alphas:
    model = Ridge(alpha=a, solver="sag", random_state=42)
    model.fit(X_train, y_train)
    
    y_pred = model.predict(X_val)
    rmse = RMSE(y_val, y_pred)
    rmses[a] = rmse.round(3)

In [357]:
rmses

{0: 0.524, 0.01: 0.524, 0.1: 0.524, 1: 0.524, 10: 0.524}